
<h1>Nueva Matricula
<div class="actions" style="float:right;position: relative;bottom: 8px;">
<a href="javascript:history.back()" class="btn" ><i class="fa-3x fa fa-arrow-circle-left"></i></a>
<button type="submit" class="btn" name="commit" onclick="NuevoRegistro();">
    <i class="fa-arrow-circle-right fa-3x fa"></i>
</button>
</div>
</h1>

<%= render 'form' %>
