<h1>Nueva Asignatura para <%= Group.find(params[:group_id]).tname %></h1>

<%= render 'form' %>

<a href="javascript:history.back()" class="btn btn-default btn-md" style="top: -63px;left:10px;position:relative;" >Atrás</a>
